

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:green;
}

header {
    background-color:black;
  
    padding: 1em 0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    
}

main {
    padding: 2em;
}

h1, h2 {
    margin: 0.5em 0;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}
.testimonial-item h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: right;
}

#gallery, #testimonials {
    margin-bottom: 2em;
    background-color: none;
}
#testimonials p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large
}

.gallery-container, .testimonial-container {
    display: flex;
   flex-wrap: wrap;
    gap: 1em;
}

.gallery-item, .testimonial-item {
    
    background-color: none ;
    border:none;
    border-radius: none;
    padding: 1em;
    box-shadow:none;
    flex: 1 1 calc(33% - 1em);
    box-sizing: none;
    text-align: center;
}

.testimonial-item{
    box-shadow: 0 0 5px rgba(0, 0,0, 1);
}


.gallery-item img {
    width:500px;
    height: auto;
    border-radius: 5px;
    height: 400px;
}

.testimonial-item p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}
footer {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    padding-inline: 20px;
    align-items: center;
}

.contact-info, .social-media, .newsletter-signup {
    flex: 1;
}

.social-media {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.social-media a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFD700;
}

.social-media a img {
    margin-bottom: 0.5rem;
}

.social-media a:hover {
    color: #FFA500;
}

.newsletter-signup form {
    display: flex;
    gap: 0.5rem;
}

.newsletter-signup input {
    flex: 1;
}

#reservation-form {
    width: 60%;
    margin: 0 auto;
}

#d1 {
    color: gold;
}

#reservation-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reservation-details {
    width: 100%;
}
.quick-links{
    padding-right:150px;
    color:white;
    text-decoration: none;
    line-height: 1.5;

}
a{
color:white;
text-decoration: none;
}

